@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    /* Colors */
    --gray-0: #ECECEC;
    --gray-1: #DEDEDE;
    --gray-2: #d4d4d4;
    --gray-3: #bcbcbc;
    --gray-4: #a3a3a3;
    --gray-5: #8b8b8b;
    --gray-6: #737373;
    --gray-7: #252525;
    --accent: #006FFF;

    /* Rail */
    --rail-track-h: 160px;
    --rail-thumb-h: 30px;

    /* Typography */
    --type-XS: 14px;
    --type-S: 18px;
    --type-M: 24px;
    --type-L: 32px;
    --type-XL: 56px;
}

:root:has(.hero-slab:not(.hero-slab--short)) {
    --rail-track-h: calc(50vh - 44px);
}
